
@model IEnumerable<ProjeTakipSistemi.Models.Bolumler>

@{
    ViewBag.Title = "Bolum";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

<p class="mt-5">
    @Html.ActionLink("Yeni Birim Ekle", "Olustur",new {}, new {@class="btn btn-primary"})
</p>

<table class="table table-bordered table-striped table-dark">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model=>model.BolumAd)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.BolumAd)
                    </td>
                    <td>
                        @Html.ActionLink("Guncelle", "Guncelle", new { id = item.BolumID }, new { @class = "btn btn-success" });
                    </td>
                    <td>
                        @Html.ActionLink("Sil", "Sİl", new { id = item.BolumID }, new { @class = "btn btn-danger" });
                    </td>
                </tr>
            }
</table>

